<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<section name="EnvironmentSection" type="NextPlayer.EnvironmentConfigurationSection, NextPlayer" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NextPlayer.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <NextPlayer.MySettings>
            <setting name="LastPlaylistFile" serializeAs="String">
                <value />
            </setting>
            <setting name="EnvironmentName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="CurrentSkin" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePlaylistOnChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaybackTick" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SaveTick" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DefaultFollowAction" serializeAs="String">
                <value>ActiveProducer</value>
            </setting>
            <setting name="PowerPointUpdateInterval" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="UseUpdateTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastExportDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsWindowWidth" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="SettingsWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="PrintWindowHeight" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="AudioPositionWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioPositionWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioPositionWindowWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="AudioPositionWindowHeight" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="AboutWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AboutWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AboutWindowWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="AboutWindowHeight" serializeAs="String">
                <value>420</value>
            </setting>
        </NextPlayer.MySettings>
    </userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
