<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Interop" version="17.9.37000" targetFramework="net48" />
  <package id="NetOfficeFw.Core" version="1.9.5" targetFramework="net48" />
  <package id="NetOfficeFw.Office" version="1.9.5" targetFramework="net48" />
  <package id="NetOfficeFw.PowerPoint" version="1.9.5" targetFramework="net48" />
  <package id="NetOfficeFw.VBIDE" version="1.9.5" targetFramework="net48" />
  <package id="stdole" version="17.8.37221" targetFramework="net48" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net46" />
</packages>